.contact {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 30%;
    gap: 8px;
    margin-left: -0.75rem;
}

.contact-link {
    padding: 0.25rem;
    margin: 0.25rem;
}