.main-container {
    margin: 2.5rem 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbar-list-right {
    display:flex;
    justify-content: space-between;
    gap: 8px;
}

.navbar-img {
    height: 20px;
    width: 20px;
}