@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: Hind;
    position: relative;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.container {
    margin: 0 auto 2rem;
    width: 100%;
}

.border-wrap {
    height: 40px;
    top: -30px;
    position: absolute;
    z-index: 90;
    min-width: 100vw;
    max-width: 100vw;
    opacity: 0.5;
    filter: blur(40px);
    background: radial-gradient(circle,#f86bdf 0,rgba(107,107,248,.8) 100%);
    
  }

  .border-wrap-bottom {
    position: absolute;
    z-index: 100;
    min-width: 100vw;
    max-width: 100vw;
    opacity: 0.5;
    filter: blur(40px);
    height: 30px;
    background: radial-gradient(circle,#f86bdf 0,rgba(107,107,248,.8) 100%);
    bottom: 0;
  }

ul{
    list-style-type: none;
}

button {
    border: none;
    background: none;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 5px;
    border: black solid 0px;
    border-radius: 0.5rem;
    scale: 100%;
}

a:hover {
    transition: ease-out;
    transition-duration: 300ms;
    scale: 105%;
    background-color: rgb(192, 202, 213);
}

.random {
    margin: 200px 0 
}

button :hover {
    cursor: pointer;
}

body.light {
    background: #fff;
    color: #222;
}

body.dark{
    color: #eee;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);;
}

.introduction {
    margin: 2.5rem 2rem 0;
}

.links {
    margin: 2.5rem 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects {
    margin: 2.5rem 2rem 0;
}

.about-section {
    margin: 2.5rem 2rem 0;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%);
    }
    body.light-theme {
        color: #222;
        background: #fff;
    }

}

